@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Are you a Raver?</h1>

    <h2>Well this is your kind of website</h2>
    <h3> We here at Regal Raverz believe that music makes the world go round</h3>
    <h4>Now join us by being the generation of ravers that the world rememebers for throughout the ages</h4>




</div>
