@{
    ViewData["Title"] = "Company Infomation";
}
<h1>@ViewData["Title"]</h1>

<h2>Welcome To Radical Raverz</h2>
<h3>This page gives you a little more information about the creator of this website and company</h3>
<p>Hi, My name's Ella, I am a Sheffield Hallam, Software Enginnering 2nd year student</p>
<p>For my final project in my Web App Development module I was asked to create a web page about something I'm passionate about</p>
<p>I chose to do a festival booker, I love eveything about festivals from the music to the camping element </p>
<p>This website shows different festivals and their choice of ticket types</p>